<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/water.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    $CSS_LINKS$

    <style>
        /*$STYLES$*/
    </style>

    <title>$TAB_TITLE$</title>
</head>
<body>
    <nav>
        <a href="/"><img id="logo" src="/assets/images/logo.png"></a>
        <a href="/matches">Matches</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>